node_modules
dist
.env
.firebase

# Android / Capacitor
android/.gradle/
android/build/
android/app/build/
android/captures/
android/local.properties
android/.externalNativeBuild/
*.apk
*.aab
*.ap_
*.dex